body {
  margin: 0;
}

.container {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: column;
  background: #eee;
  overflow: auto;
}

.container > .col {
  flex: 1;
  padding: 1rem;
}

.no-flexbox .container {
  background: #eee;
  overflow: auto;
}

.no-flexbox .container > .col {
  width: 95%;
  padding: 30px 3.15% 0;
  float: left;
}

@media screen and (min-width: 48rem) {
  .container {
    flex-direction: row;
  }

  .no-flexbox .container > .col {
    width: 27%;
  }
}
